* {
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

@media only screen and (min-width: 568px) {
  * {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.415rem;
  }
  h3 {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 768px) {
  * {
    font-size: 1.115rem;
  }
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.445rem;
  }
  h3 {
    font-size: 1.315rem;
  }
}
@media only screen and (min-width: 1024px) {
  * {
    font-size: 1.145rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.485rem;
  }
  h3 {
    font-size: 1.345rem;
  }
}
@media only screen and (min-width: 1201px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.4rem;
  }
}
section {
  padding: 1.5rem;
}
section.section-hero {
  padding-top: 0;
}

nav,
footer {
  padding: 0.7rem 1rem;
}

@media only screen and (min-width: 568px) {
  section {
    padding: 3rem;
  }
  section.section-hero {
    padding-top: 2rem;
  }
  nav,
  footer {
    padding: 0.6rem 1.5rem;
  }
  footer {
    margin-top: -20px;
  }
}
@media only screen and (min-width: 768px) {
  section {
    padding: 3rem;
  }
  section.section-hero {
    padding-top: 6rem;
  }
  nav,
  footer {
    padding: 0.5rem 2.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  section {
    padding: 3rem 9rem;
  }
  nav,
  footer {
    padding: 0.5rem 3rem;
  }
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 4.5rem;
}
@media only screen and (min-width: 568px) {
  html {
    scroll-padding-top: 1.25rem;
  }
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: #000;
  font-family: "Poppins", sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* h1 {
  font-weight: 600;
}
* h2 {
  font-weight: 600;
  margin-bottom: 15px;
}
* h3 {
  color: rgb(60, 60, 60);
}
* p {
  text-align: justify;
}
* span {
  color: rgb(12, 103, 189);
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header nav .logo {
  font-size: 1.3rem;
  font-weight: 600;
}
header nav .logo span {
  font-size: 1.3rem;
}
@media only screen and (min-width: 1024px) {
  header nav .logo:hover {
    font-size: 0;
  }
  header nav .logo:hover::after {
    content: attr(data-hover);
    font-size: 1.3rem;
    color: rgb(12, 103, 189);
  }
  header nav .logo:hover span {
    font-size: 0;
  }
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  header nav ul {
    gap: 50px;
  }
}
header nav ul li {
  display: none;
}
@media only screen and (min-width: 768px) {
  header nav ul li {
    display: unset;
  }
}
@media only screen and (min-width: 1024px) {
  header nav ul li a {
    font-weight: 500;
  }
  header nav ul li a:hover {
    color: rgb(12, 103, 189);
    text-decoration: underline;
  }
}
header nav button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  background-color: transparent;
  border: none;
  height: 16px;
  width: 20px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  header nav button {
    display: none;
  }
}
header nav button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header nav button span {
  width: 100%;
  height: 2px;
  background-color: #000;
}
header nav button.is-active {
  justify-content: center;
}
header nav button.is-active span {
  transition: 0.3s ease-in;
}
header nav button.is-active span:first-child {
  transform: translateY(50%) rotate(45deg);
}
header nav button.is-active span:nth-child(2) {
  display: none;
}
header nav button.is-active span:last-child {
  transform: translateY(-50%) rotate(-45deg);
}
header .nav-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  top: 0;
  right: -100%;
  align-items: center;
  justify-content: center;
  gap: 95px;
  position: fixed;
  background-color: #fff;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 768px) {
  header .nav-mobile {
    display: none;
  }
}
header .nav-mobile.active {
  right: 0;
}
header .nav-mobile a {
  font-size: 1.6rem;
  font-weight: 500;
}

main .section-hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
}
@media only screen and (min-width: 768px) {
  main .section-hero .hero-img-content {
    display: flex;
    flex-direction: row-reverse;
  }
}
main .section-hero .hero-img {
  display: block;
  margin: auto;
  width: 320px;
  height: auto;
}
@media only screen and (min-width: 768px) {
  main .section-hero .hero-img {
    width: 300px;
    margin-left: 15px;
  }
}
@media only screen and (min-width: 768px) {
  main .section-hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
main .section-hero h1 {
  margin: 10px 0 30px;
}
main .section-hero h1,
main .section-hero p {
  text-align: center;
}
main .section-hero p a {
  background-color: rgb(12, 103, 189);
  color: #fff;
  padding: 0 5px;
  border-radius: 5px;
}
@media only screen and (min-width: 1024px) {
  main .section-hero p a:hover {
    opacity: 0.8;
  }
}
main .section-hero .stack-section {
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 568px) {
  main .section-hero .stack-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 768px) {
  main .section-hero .stack-section {
    width: 80%;
    margin-top: 90px;
  }
}
@media only screen and (min-width: 1024px) {
  main .section-hero .stack-section {
    width: 70%;
  }
}
main .section-hero .stack-section h2 {
  margin: 45px 0 10px;
}
@media only screen and (min-width: 568px) {
  main .section-hero .stack-section h2 {
    margin: 0;
    font-size: 1rem;
    white-space: nowrap;
  }
}
main .section-hero .stack-section .stack-icons {
  padding: 20px 0;
  border-top: solid 1px rgb(60, 60, 60);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
@media only screen and (min-width: 568px) {
  main .section-hero .stack-section .stack-icons {
    padding: 0;
    border-top: none;
    margin-left: 15px;
    padding-left: 30px;
    justify-content: space-between;
    border-left: solid 1px rgb(60, 60, 60);
  }
}
main .section-hero .stack-section .stack-icons img {
  width: 45px;
  height: auto;
}
@media only screen and (min-width: 1024px) {
  main .section-hero .stack-section .stack-icons img {
    width: 55px;
  }
}
main .section-about {
  margin-bottom: 30px;
}
main .section-about p {
  margin-bottom: 45px;
}
main .section-about .container-btn {
  text-align: center;
}
main .section-about .container-btn a {
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 8px;
  border: solid 2px;
  font-weight: 600;
}
@media only screen and (min-width: 1024px) {
  main .section-about .container-btn a:hover {
    background-color: rgb(30, 103, 189);
    border: solid 2px #fff;
    color: #fff;
  }
}
main .section-projects {
  background-color: #f8f8f8;
}
main .section-projects .section-intro {
  margin-bottom: 30px;
}
main .section-projects .section-intro span {
  color: rgb(12, 103, 189);
}
main .section-projects .project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 13px;
}
@media only screen and (min-width: 768px) {
  main .section-projects .project-container {
    flex-direction: row;
  }
}
main .section-projects .project-container .project-img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.75s ease-in-out;
}
@media only screen and (min-width: 568px) {
  main .section-projects .project-container .project-img-container {
    height: 300px;
  }
}
@media only screen and (min-width: 768px) {
  main .section-projects .project-container .project-img-container {
    margin: 0 35px 0 0;
    height: 400px;
  }
}
@media only screen and (min-width: 1024px) {
  main .section-projects .project-container .project-img-container:hover {
    opacity: 0.85;
  }
}
main .section-projects .project-container .project-img-container img {
  transition: all 3s ease-in-out;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
main .section-projects .project-container .project-img-container img.active {
  top: 100%;
  transform: translateY(-100%);
}
main .section-projects .project-container .project-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  main .section-projects .project-container .project-content-container {
    width: 80%;
  }
}
main .section-projects .project-container .project-content-container p {
  text-align: center;
}
main .section-projects .project-container .project-content-container .project-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
main .section-projects .project-container .project-content-container .project-links a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 40%;
  padding: 5px 15px;
  border-radius: 8px;
  border: solid 2px;
  font-weight: 700;
}
@media only screen and (min-width: 1024px) {
  main .section-projects .project-container .project-content-container .project-links a:hover {
    background-color: rgb(30, 103, 189);
    border: solid 2px #fff;
    color: #fff;
  }
  main .section-projects .project-container .project-content-container .project-links a:hover img {
    filter: invert(1);
  }
}
main .section-contact .message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.3rem;
  background-color: rgb(12, 103, 189);
  color: #fff;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 8px;
  margin: 30px auto 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 1024px) {
  main .section-contact .message:hover {
    opacity: 0.9;
  }
}
main .section-contact .message img {
  width: 30px;
  height: auto;
  filter: invert(1);
}
main .section-contact .up {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(12, 103, 189);
  position: absolute;
  right: 5px;
  padding: 1px;
}
@media only screen and (min-width: 1024px) {
  main .section-contact .up:hover {
    text-decoration: underline;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(60, 60, 60);
}
footer p {
  color: #fff;
}
footer .social-networks-container {
  display: flex;
  gap: 15px;
}
@media only screen and (min-width: 768px) {
  footer .social-networks-container {
    gap: 30px;
  }
}
footer .social-networks-container a {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  footer .social-networks-container a:hover img {
    filter: invert(1);
  }
}

/*# sourceMappingURL=style.css.map */
