@import "./libs/breakpoints.scss";
@import "./libs/fontsize.scss";
@import "./libs/padding.scss";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;

    @include tablet {
        scroll-padding-top: 1.25rem;
    }
}

* {

    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
    font-family: 'Poppins',
    sans-serif;

    h1 {
        font-weight: 600;
    }

    h2 {
        font-weight: 600;
        margin-bottom: 15px;
    }

    h3 {
        color: rgb(60 60 60);
    }

    p {
        text-align: justify;
    }

    span {
        color: rgb(12, 103, 189);
    }
}

// ***************************** HEADER ***************************** //
// *************************** SEE BELLOW *************************** //

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);

        .logo {
            font-size: 1.3rem;
            font-weight: 600;

            span {
                font-size: 1.3rem;
            }

            @include desktop {
                &:hover {
                    font-size: 0;

                    &::after {
                        content: attr(data-hover);
                        font-size: 1.3rem;
                        color: rgb(12, 103, 189);
                    }

                    span {
                        font-size: 0;
                    }
                }
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include small-screen {
                gap: 50px;
            }

            li {
                display: none;

                @include small-screen {
                    display: unset;
                }

                @include desktop {
                    a {
                        font-weight: 500;

                        &:hover {
                            color: rgb(12, 103, 189);
                            text-decoration: underline;
                        }
                    }

                }
            }

        }

        button {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0;
            background-color: transparent;
            border: none;
            height: 16px;
            width: 20px;
            cursor: pointer;

            @include small-screen {
                display: none;
            }

            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            span {
                width: 100%;
                height: 2px;
                background-color: #000;
            }

            &.is-active {
                justify-content: center;

                span {
                    transition: 0.3s ease-in;

                    &:first-child {
                        transform: translateY(50%) rotate(45deg);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:last-child {
                        transform: translateY(-50%) rotate(-45deg);
                    }
                }
            }
        }
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        align-items: center;
        justify-content: center;
        gap: 95px;
        position: fixed;
        background-color: #fff;
        z-index: -1;
        transition: 0.3s ease-in-out;

        @include small-screen {
            display: none;
        }

        &.active {
            right: 0;
        }

        a {
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}

// ***************************** MAIN ***************************** //
// *************************** SEE BELLOW *************************** //

main {
    .section {
        &-hero {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #f8f8f8;

            .hero-img-content {
                @include tablet {
                    display: flex;
                    flex-direction: row-reverse;
                    margin-bottom: 70px;
                }
            }

            .hero-img {
                display: block;
                margin: auto;
                width: 280px;
                height: auto;
                margin-top: -25px;
                margin-bottom: 25px;

                @include tablet {
                    margin: 0 0 0 15px;
                }

                @include small-screen {
                    width: 300px;
                }

                @include desktop {
                    width: 350px;
                }

                @include large-screen {
                    width: 450px;
                    margin-left: 70px;
                }
            }

            .hero-content {
                @include small-screen {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                }
            }

            h1 {
                margin-bottom: 25px;

                @include small-screen {
                    margin: 0;
                }

                @include desktop {
                    max-width: 28rem;
                }
            }

            h1,
            p {
                text-align: center;
            }

            p {
                @include small-screen {
                    max-width: 35rem;
                }
            }

            p a {
                background-color: rgb(12, 103, 189);
                color: #fff;
                padding: 0 5px;
                border-radius: 5px;

                @include desktop {
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .stack-section {
                text-align: center;
                width: 100%;

                @include tablet {
                    display: flex;
                    align-items: center;
                    margin-top: 30px;
                }

                @include small-screen {
                    width: 80%;
                    margin-top: 90px;
                }

                @include desktop {
                    width: 65%;
                }

                h2 {
                    margin: 45px 0 10px;

                    @include tablet {
                        margin: 0;
                        font-size: 1rem;
                        white-space: nowrap;
                    }
                }

                .stack-icons {
                    padding: 20px 0;
                    border-top: solid 1px rgb(60 60 60);

                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 100%;

                    @include tablet {
                        padding: 0;
                        border-top: none;
                        margin-left: 15px;
                        padding-left: 30px;
                        justify-content: space-between;
                        border-left: solid 1px rgb(60, 60, 60);
                    }

                    img {
                        width: 45px;
                        height: auto;

                        @include desktop {
                            width: 55px;
                        }
                    }

                }
            }

        }

        &-about {
            margin-bottom: 30px;

            p {
                margin-bottom: 45px;
            }

            .container-btn {
                text-align: center;

                a {
                    background-color: #fff;
                    padding: 5px 15px;
                    border-radius: 8px;
                    border: solid 2px;
                    font-weight: 600;

                    @include desktop {
                        &:hover {
                            background-color: rgb(30, 103, 189);
                            border: solid 2px #fff;
                            color: #fff;
                        }
                    }
                }
            }
        }

        &-projects {
            background-color: #f8f8f8;

            .section-intro {
                margin-bottom: 30px;

                span {
                    color: rgb(12, 103, 189);
                }
            }

            .project {
                &-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 40px;

                    background-color: #fff;
                    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

                    padding: 20px;

                    border-radius: 13px;

                    @include small-screen {
                        flex-direction: row;
                    }

                    .project-img-container {
                        width: 100%;
                        height: 200px;
                        overflow: hidden;
                        border-radius: 8px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                        position: relative;
                        margin-bottom: 20px;
                        cursor: pointer;

                        transition: 0.75s ease-in-out;

                        @include tablet {
                            height: 300px;
                        }

                        @include small-screen {
                            margin: 0 35px 0 0;
                            height: 330px;
                        }

                        @include desktop {
                            height: 400px;
                        }

                        @include desktop {
                            &:hover {
                                opacity: 0.85;
                            }
                        }

                        img {
                            transition: all 3s ease-in-out;
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;

                            &.active {
                                top: 100%;
                                transform: translateY(-100%);
                            }
                        }
                    }

                    .project-content-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;

                        @include small-screen {
                            width: 80%;
                        }

                        p {
                            text-align: center;
                        }

                        .project-links {
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            width: 100%;
                            margin-top: 10px;

                            a {
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                min-width: 35%;
                                padding: 5px 15px;
                                border-radius: 8px;
                                border: solid 2px;
                                font-weight: 700;

                                @include tablet {
                                    min-width: 20%;
                                }

                                @include small-screen {
                                    min-width: 35%;
                                }

                                @include desktop {
                                    min-width: 40%;

                                    &:hover {
                                        background-color: rgb(30, 103, 189);
                                        border: solid 2px #fff;
                                        color: #fff;

                                        img {
                                            filter: invert(1);
                                        }
                                    }
                                }
                            }

                        }

                    }

                }
            }
        }

        &-contact {
            .message {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-size: 1.3rem;
                background-color: rgb(12, 103, 189);
                color: #fff;
                width: fit-content;
                padding: 5px 15px;
                border-radius: 8px;
                margin: 30px auto 20px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

                @include desktop {
                    margin: 60px auto 45px;
                    height: 3rem;

                    &:hover {
                        opacity: 0.9;
                    }
                }

                img {
                    width: 30px;
                    height: auto;
                    filter: invert(1);
                }
            }

            .up {
                font-size: 1.1rem;
                font-weight: 600;
                color: rgb(12, 103, 189);
                position: absolute;
                right: 5px;
                padding: 1px;

                @include desktop {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }
    }
}

// ***************************** FOOTER ***************************** //
// *************************** SEE BELLOW *************************** //

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(60 60 60);

    p {
        color: #fff;
    }

    .social-networks-container {
        display: flex;
        gap: 15px;

        @include small-screen {
            gap: 30px;
        }

        a {
            display: flex;
            align-items: center;

            @include desktop {
                &:hover {
                    img {
                        filter: invert(1);
                    }
                }
            }
        }
    }
}