html {
    box-sizing: border-box;
}

* {

    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
    font-family: 'Poppins',
    sans-serif;
    font-size: 1rem;

    h1 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    h2 {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 1.2rem;
        color: rgb(60 60 60);
    }

    p {
        text-align: justify;
    }

    span {
        color: rgb(12, 103, 189);
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 20px;

        box-shadow: 0 0 10px rgba(0, 0, 0, .1);

        .logo {
            font-size: 1.3rem;
            font-weight: 600;
            // PARTIE DESKTOP
            // &:hover {
            //     font-size: 0;

            //     &::after {
            //         content: attr(data-hover);
            //         font-size: 1.3rem;
            //         color: rgb(12, 103, 189);
            //     }
            // }
        }

        span {
            font-size: 1.3rem;
            color: rgb(12, 103, 189);
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                display: none;
            }

            button {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0;
                background-color: transparent;
                border: none;
                height: 16px;
                width: 20px;
                cursor: pointer;

                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                span {
                    width: 100%;
                    height: 2px;
                    background-color: #000;
                }

                &.is-active {
                    justify-content: center;

                    span {
                        transition: 0.3s ease-in;

                        &:first-child {
                            transform: translateY(50%) rotate(45deg);
                        }

                        &:nth-child(2) {
                            display: none;
                        }

                        &:last-child {
                            transform: translateY(-50%) rotate(-45deg);
                        }
                    }
                }
            }
        }
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        align-items: center;
        justify-content: center;
        gap: 95px;
        position: fixed;
        background-color: #fff;
        z-index: -1;
        transition: 0.3s ease-in-out;

        &.active {
            right: 0;
        }

        a {
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}



main {
    .section {
        &-hero {
            padding: 30px 20px;

            height: 100vh;

            display: flex;
            flex-direction: column;
            align-items: center;

            background-color: #f8f8f8;

            img {
                width: 320px;
                height: auto;
            }

            h1,
            p {
                text-align: center;
            }

            p a {
                background-color: rgb(12, 103, 189);
                color: #fff;
                padding: 0 5px;
                border-radius: 5px;
            }



            h2 {
                margin-top: 45px;
            }

            .stack-icons {
                margin-top: 5px;
                padding-top: 15px;
                border-top: solid 1px rgb(60 60 60);

                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;

                img {
                    width: 45px;
                    height: 45px;

                    &:nth-child(4),
                    &:nth-child(5) {
                        border-radius: 8px;
                    }
                }


            }
        }

        &-about {
            padding: 30px 20px;



            p {
                margin-bottom: 25px;
            }

            .container-btn {
                text-align: center;

                a {
                    background-color: #fff;
                    padding: 5px 15px;
                    border-radius: 8px;
                    border: solid 2px;
                    font-weight: 600;
                }
            }
        }

        &-projects {
            padding: 30px 20px;

            background-color: #f8f8f8;

            .section-intro {
                margin-bottom: 30px;

                span {
                    color: rgb(12, 103, 189);
                }
            }

            .project {
                &-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    margin-bottom: 40px;

                    background-color: #fff;
                    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

                    padding: 20px;

                    border-radius: 13px;

                    .project-img-container {
                        width: 100%;
                        height: 300px;
                        overflow: hidden;

                        border-radius: 8px;

                        position: relative;

                        img {
                            position: absolute;
                            transform: translateY(0px);
                            transition: transform 3s ease-in-out 0s;
                            width: 100%;

                            &.active {
                                transform: translateY(-115px);
                            }

                        }
                    }

                    p {
                        text-align: center;
                    }

                    .project-links {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 100%;

                        margin-top: 10px;

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            min-width: 40%;
                            padding: 5px 15px;
                            border-radius: 8px;
                            border: solid 2px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        &-contact {
            padding: 30px 20px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-size: 1.3rem;
                background-color: rgb(12, 103, 189);
                color: #fff;
                width: fit-content;
                padding: 5px 15px;
                border-radius: 8px;
                margin: 30px auto 20px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

                img {
                    width: 30px;
                    height: auto;
                    filter: invert(1);
                }
            }

        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(60 60 60);

    p {
        color: #fff;

    }

    .social-networks-container {
        display: flex;
        gap: 15px;

        img {
            filter: invert(1);
        }

        a {
            display: flex;
            align-items: center;
        }
    }
}